In [2]:
import pandas as pd

In [12]:
state = 'tennessee'
state_sentence_case = f'{state[0].capitalize()}{state[1:]}'
national_file_path = '../generation/national_industry_analysis.csv'
national_detailed_file_path = '../generation/national_summary_detailed.csv'
state_results_csv_path = f'../generation/{state}_results.csv'
soc_mapping_path = '../data/soc_mapping.csv'

In [13]:
national_df = pd.read_csv(national_file_path)
national_detailed_df = pd.read_csv(national_detailed_file_path)
soc_mapping_df = pd.read_csv(soc_mapping_path)

In [38]:
def get_minor_group_title(code):
    if type(code) != str:
        code = str(code)
    if '-' in code:
        code = code.replace('-', '')[:3]
    
    code = code[:3]
    code = int(code)

    
    df = soc_mapping_df[soc_mapping_df['normalized_minor_code'] == code]
    if df.empty:
        return None
    else:
        return df['minor_title'].values[0]

def get_major_group_title(code):
    if type(code) != str:
        code = str(code)
    if '-' in code:
        code = code.replace('-', '')[:2]
    
    code = code[:3]
    code = int(code)

    
    df = soc_mapping_df[soc_mapping_df['normalized_major_code'] == code]
    if df.empty:
        return None
    else:
        return df['major_title'].values[0]

def get_broad_group_title(code):
    if type(code) != str:
        code = str(code)
    if '-' in code:
        code = code.replace('-', '')[:1]
    
    code = code[:4]
    code = int(code)

    
    df = soc_mapping_df[soc_mapping_df['normalized_broad_code'] == code]
    if df.empty:
        return None
    else:
        return df['broad_title'].values[0]

In [40]:
national_detailed_df['minor_group_name'] = national_detailed_df['minor_group'].apply(get_minor_group_title)
national_detailed_df['major_group_name'] = national_detailed_df['major_group'].apply(get_major_group_title)
national_detailed_df['broad_group_name'] = national_detailed_df['OCC_CODE'].apply(get_broad_group_title)

In [30]:
national_df.head()

,minor_group,minor_group_name,TOT_EMP,economic_value,automation_susceptibility,enhanced_automation_risk,is_potentially_at_risk,is_currently_at_risk,estimated_zapier_apps,zapier_apps_per_worker,at_risk_soc_codes,potential_econ_value_at_risk,current_econ_value_at_risk,minor_potential_index,minor_iceberg_index,automation_gap,weighted_iceberg_index,state
0,111,111,36310.0,4.652278e+09,37.948976,28.461732,0,0,0.0,0.0,NaN,0.0,0.0,0.000000,0.0,0.000000,0.0,Alabama
1,112,112,5370.0,7.190369e+08,43.301277,32.475958,1,0,0.0,0.0,112021,195070800.0,0.0,27.129456,0.0,27.129456,0.0,Alabama
2,113,113,20700.0,2.779513e+09,35.604256,26.703192,1,0,0.0,0.0,113021,819366000.0,0.0,29.478760,0.0,29.478760,0.0,Alabama
3,119,119,42490.0,4.119062e+09,36.534983,27.401238,2,0,0.0,0.0,"119041,119121",492811500.0,0.0,11.964167,0.0,11.964167,0.0,Alabama
4,131,131,61570.0,4.881716e+09,38.441509,28.831132,1,0,0.0,0.0,131111,655233700.0,0.0,13.422200,0.0,13.422200,0.0,Alabama

In [31]:
national_detailed_df.head()

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,enhanced_automation_risk,enhanced_risk_category,economic_value,is_potentially_at_risk,is_currently_at_risk,potential_index,econ_potential_index,minor_group,minor_group_name,state
0,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1011,Chief Executives,...,28.277611,Low,1.591416e+08,False,False,0.0,0.031151,111,Management Occupations,Alabama
1,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1021,General and Operations Managers,...,32.428586,Low,4.454730e+09,False,False,0.0,1.000000,111,Management Occupations,Alabama
2,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1031,Legislators,...,24.678998,Low,3.840660e+07,False,False,0.0,0.006561,111,Management Occupations,Alabama
3,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-2011,Advertising and Promotions Managers,...,30.507957,Low,7.860300e+06,False,False,0.0,0.001660,112,Management Occupations,Alabama
4,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-2021,Marketing Managers,...,41.783475,Moderate,1.950708e+08,True,False,100.0,0.056422,112,Management Occupations,Alabama

In [41]:
state_filtered_df = national_detailed_df[national_detailed_df['AREA_TITLE'] == state_sentence_case]

In [42]:
state_risk_jobs = state_filtered_df[state_filtered_df['enhanced_automation_risk'] >= 40]
state_risk_jobs = state_risk_jobs.sort_values(by='economic_value', ascending=False)

In [43]:
state_risk_jobs.shape

(57, 56)

In [44]:
state_risk_jobs[:10]

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,economic_value,is_potentially_at_risk,is_currently_at_risk,potential_index,econ_potential_index,minor_group,minor_group_name,state,major_group_name,broad_group_name
30041,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,15-1252,Software Developers,...,1.878070e+09,True,True,100.0,0.442036,151,Computer and Information Analyst,Tennessee,Computer and Mathematical Occupations,None
29973,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,11-3021,Computer and Information Systems Managers,...,1.562124e+09,True,False,100.0,0.235213,113,Operations Specialties Managers,Tennessee,Management Occupations,None
29967,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,11-2021,Marketing Managers,...,1.106576e+09,True,False,100.0,0.166580,112,"Advertising, Marketing, Promotions, Public Rel...",Tennessee,Management Occupations,None
30491,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,47-2061,Construction Laborers,...,1.048571e+09,True,False,100.0,0.175368,472,Construction Trades Workers,Tennessee,Construction and Extraction Occupations,None
30010,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,13-1111,Management Analysts,...,8.992746e+08,True,False,100.0,0.163895,131,Business Operations Specialists,Tennessee,Business and Financial Operations Occupations,None
30031,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,15-1211,Computer Systems Analysts,...,8.344098e+08,True,False,100.0,0.162765,151,Computer and Information Analyst,Tennessee,Computer and Mathematical Occupations,None
30035,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,15-1232,Computer User Support Specialists,...,5.696210e+08,True,False,100.0,0.105217,151,Computer and Information Analyst,Tennessee,Computer and Mathematical Occupations,None
30036,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,15-1241,Computer Network Architects,...,4.421468e+08,True,False,100.0,0.076527,151,Computer and Information Analyst,Tennessee,Computer and Mathematical Occupations,None
30039,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,15-1244,Network and Computer Systems Administrators,...,4.377660e+08,True,False,100.0,0.075072,151,Computer and Information Analyst,Tennessee,Computer and Mathematical Occupations,None
29987,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,11-9041,Architectural and Engineering Managers,...,4.156340e+08,True,False,100.0,0.070762,119,Other Management Occupations,Tennessee,Management Occupations,None

In [48]:
grouped_economic_value = state_risk_jobs.groupby(['minor_group', 'minor_group_name'])['economic_value'].sum().sort_values(ascending=False)
print("\nTotal economic value by minor group:")
print(grouped_economic_value)

Total economic value by minor group:
minor_group  minor_group_name
151          Computer and Information Analyst                                            5.343145e+09
113          Operations Specialties Managers                                             1.562124e+09
112          Advertising, Marketing, Promotions, Public Relations, and Sales Managers    1.106576e+09
472          Construction Trades Workers                                                 1.061192e+09
131          Business Operations Specialists                                             8.992746e+08
172          Engineers                                                                   5.225871e+08
119          Other Management Occupations                                                4.156340e+08
152          Mathematical Science Occupations                                            2.866735e+08
519          Other Production Occupations                                                2.733865e+08
132          Financial Specialists                                                       2.094182e+08
359          Other Food Preparation and Serving Related Workers                          2.063530e+08
514          Metal Workers and Plastic Workers                                           1.694759e+08
194          Life, Physical, and Social Science Technicians                              8.142000e+07
499          Other Installation, Maintenance, and Repair Occupations                     6.603650e+07
373          Grounds Maintenance Workers                                                 5.617300e+07
192          Physical Scientists                                                         4.671420e+07
473          Helpers, Construction Trades                                                4.249930e+07
191          Life Scientists                                                             3.513600e+07
173          Drafters, Engineering Technicians, and Mapping Technicians                  2.636060e+07
516          Textile, Apparel, and Furnishings Workers                                   2.635380e+07
171          Architects, Surveyors, and Cartographers                                    2.228650e+07
492          Electrical and Electronic Equipment Mechanics, Installers, and Repairers    1.779250e+07
452          Agricultural Workers                                                        1.507150e+07
439          Other Office and Administrative Support Workers                             1.376700e+07
271          Art and Design Workers                                                      1.136300e+07
537          Material Moving Workers                                                     2.464800e+06
Name: economic_value, dtype: float64

In [46]:
grouped_economic_value = state_risk_jobs.groupby(['major_group', 'major_group_name'])['economic_value'].sum().sort_values(ascending=False)
print("\nTotal economic value by major group:")
print(grouped_economic_value)

Total economic value by major group:
major_group  major_group_name
15           Computer and Mathematical Occupations                         5.629819e+09
11           Management Occupations                                        3.084334e+09
13           Business and Financial Operations Occupations                 1.108693e+09
47           Construction and Extraction Occupations                       1.103692e+09
17           Architecture and Engineering Occupations                      5.712342e+08
51           Production Occupations                                        4.692162e+08
35           Food Preparation and Serving Related Occupations              2.063530e+08
19           Life, Physical, and Social Science Occupations                1.632702e+08
49           Installation, Maintenance, and Repair Occupations             8.382900e+07
37           Building and Grounds Cleaning and Maintenance Occupations     5.617300e+07
45           Farming, Fishing, and Forestry Occupations                    1.507150e+07
43           Office and Administrative Support Occupations                 1.376700e+07
27           Arts, Design, Entertainment, Sports, and Media Occupations    1.136300e+07
53           Transportation and Material Moving Occupations                2.464800e+06
Name: economic_value, dtype: float64