In [2]:
import pandas as pd

In [99]:
state = 'tennessee'
state_sentence_case = f'{state[0].capitalize()}{state[1:]}'
national_file_path = '../generation/national_industry_analysis.csv'
national_detailed_file_path = '../generation/national_summary_detailed.csv'
state_results_csv_path = f'../generation/{state}_results.csv'
soc_mapping_path = '../data/soc_mapping.csv'

In [100]:
national_df = pd.read_csv(national_file_path)
national_detailed_df = pd.read_csv(national_detailed_file_path)
soc_mapping_df = pd.read_csv(soc_mapping_path)

In [101]:
def get_minor_group_title(code):
    if type(code) != str:
        code = str(code)
    if '-' in code:
        code = code.replace('-', '')[:3]
    
    code = code[:3]
    code = int(code)

    
    df = soc_mapping_df[soc_mapping_df['normalized_minor_code'] == code]
    if df.empty:
        return None
    else:
        return df['minor_title'].values[0]

def get_major_group_title(code):
    if type(code) != str:
        code = str(code)
    if '-' in code:
        code = code.replace('-', '')[:2]
    
    code = code[:3]
    code = int(code)

    
    df = soc_mapping_df[soc_mapping_df['normalized_major_code'] == code]
    if df.empty:
        return None
    else:
        return df['major_title'].values[0]

def get_broad_group_title(code):
    if type(code) != str:
        code = str(code)
    if '-' in code:
        code = code.replace('-', '')[:1]
    
    code = code[:4]
    code = int(code)

    
    df = soc_mapping_df[soc_mapping_df['normalized_broad_code'] == code]
    if df.empty:
        return None
    else:
        return df['broad_title'].values[0]

In [102]:
national_detailed_df['minor_group_name'] = national_detailed_df['minor_group'].apply(get_minor_group_title)
national_detailed_df['major_group_name'] = national_detailed_df['major_group'].apply(get_major_group_title)
national_detailed_df['broad_group_name'] = national_detailed_df['OCC_CODE'].apply(get_broad_group_title)

In [103]:
national_df.head()

,minor_group,minor_group_name,TOT_EMP,economic_value,automation_susceptibility,enhanced_automation_risk,is_potentially_at_risk,is_currently_at_risk,estimated_zapier_apps,zapier_apps_per_worker,at_risk_soc_codes,potential_econ_value_at_risk,current_econ_value_at_risk,minor_potential_index,minor_iceberg_index,automation_gap,weighted_iceberg_index,state
0,111,111,36310.0,4.652278e+09,37.948976,28.461732,0,0,0.0,0.0,NaN,0.0,0.0,0.000000,0.0,0.000000,0.0,Alabama
1,112,112,5370.0,7.190369e+08,43.301277,32.475958,1,0,0.0,0.0,112021,195070800.0,0.0,27.129456,0.0,27.129456,0.0,Alabama
2,113,113,20700.0,2.779513e+09,35.604256,26.703192,1,0,0.0,0.0,113021,819366000.0,0.0,29.478760,0.0,29.478760,0.0,Alabama
3,119,119,42490.0,4.119062e+09,36.534983,27.401238,2,0,0.0,0.0,"119041,119121",492811500.0,0.0,11.964167,0.0,11.964167,0.0,Alabama
4,131,131,61570.0,4.881716e+09,38.441509,28.831132,1,0,0.0,0.0,131111,655233700.0,0.0,13.422200,0.0,13.422200,0.0,Alabama

In [104]:
national_detailed_df.head()

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,economic_value,is_potentially_at_risk,is_currently_at_risk,potential_index,econ_potential_index,minor_group,minor_group_name,state,major_group_name,broad_group_name
0,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1011,Chief Executives,...,1.591416e+08,False,False,0.0,0.031151,111,Top Executives,Alabama,Management Occupations,None
1,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1021,General and Operations Managers,...,4.454730e+09,False,False,0.0,1.000000,111,Top Executives,Alabama,Management Occupations,None
2,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1031,Legislators,...,3.840660e+07,False,False,0.0,0.006561,111,Top Executives,Alabama,Management Occupations,None
3,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-2011,Advertising and Promotions Managers,...,7.860300e+06,False,False,0.0,0.001660,112,"Advertising, Marketing, Promotions, Public Rel...",Alabama,Management Occupations,None
4,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-2021,Marketing Managers,...,1.950708e+08,True,False,100.0,0.056422,112,"Advertising, Marketing, Promotions, Public Rel...",Alabama,Management Occupations,None

In [105]:
national_detailed_df

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,economic_value,is_potentially_at_risk,is_currently_at_risk,potential_index,econ_potential_index,minor_group,minor_group_name,state,major_group_name,broad_group_name
0,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1011,Chief Executives,...,1.591416e+08,False,False,0.0,0.031151,111,Top Executives,Alabama,Management Occupations,None
1,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1021,General and Operations Managers,...,4.454730e+09,False,False,0.0,1.000000,111,Top Executives,Alabama,Management Occupations,None
2,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1031,Legislators,...,3.840660e+07,False,False,0.0,0.006561,111,Top Executives,Alabama,Management Occupations,None
3,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-2011,Advertising and Promotions Managers,...,7.860300e+06,False,False,0.0,0.001660,112,"Advertising, Marketing, Promotions, Public Rel...",Alabama,Management Occupations,None
4,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-2021,Marketing Managers,...,1.950708e+08,True,False,100.0,0.056422,112,"Advertising, Marketing, Promotions, Public Rel...",Alabama,Management Occupations,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36429,56,Wyoming,2,WY,0,Cross-industry,cross-industry,1235,53-7064,"Packers and Packagers, Hand",...,1.039700e+07,True,False,100.0,0.014982,537,Material Moving Workers,Wyoming,Transportation and Material Moving Occupations,None
36430,56,Wyoming,2,WY,0,Cross-industry,cross-industry,1235,53-7065,Stockers and Order Fillers,...,1.957888e+08,False,False,0.0,0.192784,537,Material Moving Workers,Wyoming,Transportation and Material Moving Occupations,None
36431,56,Wyoming,2,WY,0,Cross-industry,cross-industry,1235,53-7072,"Pump Operators, Except Wellhead Pumpers",...,1.839500e+07,False,False,0.0,0.019429,537,Material Moving Workers,Wyoming,Transportation and Material Moving Occupations,None
36432,56,Wyoming,2,WY,0,Cross-industry,cross-industry,1235,53-7073,Wellhead Pumpers,...,2.861820e+07,False,False,0.0,0.034995,537,Material Moving Workers,Wyoming,Transportation and Material Moving Occupations,None
36433,56,Wyoming,2,WY,0,Cross-industry,cross-industry,1235,53-7081,Refuse and Recyclable Material Collectors,...,1.259470e+07,False,False,0.0,0.003545,537,Material Moving Workers,Wyoming,Transportation and Material Moving Occupations,None

In [116]:
state_filtered_df = national_detailed_df[national_detailed_df['AREA_TITLE'] == state_sentence_case]

In [117]:
state_filtered_df.head()

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,economic_value,is_potentially_at_risk,is_currently_at_risk,potential_index,econ_potential_index,minor_group,minor_group_name,state,major_group_name,broad_group_name
29963,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,11-1011,Chief Executives,...,1.295165e+09,False,False,0.0,0.131949,111,Top Executives,Tennessee,Management Occupations,None
29964,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,11-1021,General and Operations Managers,...,8.559237e+09,False,False,0.0,1.000000,111,Top Executives,Tennessee,Management Occupations,None
29965,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,11-1031,Legislators,...,1.723260e+07,False,False,0.0,0.001532,111,Top Executives,Tennessee,Management Occupations,None
29966,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,11-2011,Advertising and Promotions Managers,...,2.811600e+07,False,False,0.0,0.003090,112,"Advertising, Marketing, Promotions, Public Rel...",Tennessee,Management Occupations,None
29967,47,Tennessee,2,TN,0,Cross-industry,cross-industry,1235,11-2021,Marketing Managers,...,1.106576e+09,True,False,100.0,0.166580,112,"Advertising, Marketing, Promotions, Public Rel...",Tennessee,Management Occupations,None

In [118]:
print(f"{state_filtered_df['economic_value'].sum():02}")

178513028800.0

In [122]:
state_filtered_df.sort_values(by='TOT_EMP', ascending=False)[['OCC_CODE', 'OCC_TITLE', 'TOT_EMP', 'economic_value']][:30]

,OCC_CODE,OCC_TITLE,TOT_EMP,economic_value
30702,53-7062,"Laborers and Freight, Stock, and Material Move...",113380.0,4.247215e+09
30403,41-2031,Retail Salespersons,84910.0,2.914111e+09
30355,35-3023,Fast Food and Counter Workers,76560.0,2.094682e+09
30432,43-4051,Customer Service Representatives,70950.0,2.859285e+09
29964,11-1021,General and Operations Managers,70580.0,8.559237e+09
30400,41-2011,Cashiers,69980.0,1.891559e+09
30705,53-7065,Stockers and Order Fillers,64660.0,2.276032e+09
30259,29-1141,Registered Nurses,63460.0,4.965110e+09
30676,53-3032,Heavy and Tractor-Trailer Truck Drivers,61080.0,3.385054e+09
30465,43-9061,"Office Clerks, General",54550.0,2.076718e+09
30356,35-3031,Waiters and Waitresses,53980.0,1.576756e+09
30579,51-2090,Miscellaneous Assemblers and Fabricators,53780.0,2.264676e+09
30418,43-1011,First-Line Supervisors of Office and Administr...,50660.0,3.384595e+09
30423,43-3031,"Bookkeeping, Accounting, and Auditing Clerks",42860.0,1.989561e+09
30364,37-2011,"Janitors and Cleaners, Except Maids and Housek...",36450.0,1.167494e+09
30459,43-6014,"Secretaries and Administrative Assistants, Exc...",35600.0,1.493420e+09
30564,49-9071,"Maintenance and Repair Workers, General",35220.0,1.606384e+09
30307,31-1120,Home Health and Personal Care Aides,32920.0,9.810160e+08
30677,53-3033,Light Truck Drivers,30400.0,1.408128e+09
30182,25-2021,"Elementary School Teachers, Except Special Edu...",29520.0,1.630685e+09
30350,35-2014,"Cooks, Restaurant",29160.0,9.707364e+08
30347,35-1012,First-Line Supervisors of Food Preparation and...,27440.0,1.126686e+09
30340,33-9032,Security Guards,26840.0,9.992532e+08
30017,13-2011,Accountants and Auditors,26650.0,2.172242e+09
30398,41-1011,First-Line Supervisors of Retail Sales Workers,24940.0,1.237024e+09
30491,47-2061,Construction Laborers,24830.0,1.048571e+09
30308,31-1131,Nursing Assistants,23150.0,8.067775e+08
30203,25-9045,"Teaching Assistants, Except Postsecondary",22780.0,6.688208e+08
30667,51-9199,"Production Workers, All Other",21470.0,8.238039e+08
30353,35-2021,Food Preparation Workers,21220.0,6.015870e+08

In [110]:
state_filtered_df['TOT_EMP']

23175     1720.0
23176    71340.0
23177      170.0
23178    10400.0
23179    14480.0
          ...
23943    94410.0
23944        NaN
23945     6150.0
23946       40.0
23947      100.0
Name: TOT_EMP, Length: 773, dtype: float64

In [111]:
state_risk_jobs = state_filtered_df[state_filtered_df['enhanced_automation_risk'] >= 40]
state_risk_jobs = state_risk_jobs.sort_values(by='TOT_EMP', ascending=False)

In [112]:
state_risk_jobs.shape

(62, 56)

In [113]:
state_risk_jobs[:10]

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,...,economic_value,is_potentially_at_risk,is_currently_at_risk,potential_index,econ_potential_index,minor_group,minor_group_name,state,major_group_name,broad_group_name
23252,37,North Carolina,2,NC,0,Cross-industry,cross-industry,1235,15-1252,Software Developers,...,7.677461e+09,True,True,100.0,1.000000,151,Computer and Information Analyst,North Carolina,Computer and Mathematical Occupations,None
23715,37,North Carolina,2,NC,0,Cross-industry,cross-industry,1235,47-2061,Construction Laborers,...,1.288186e+09,True,False,100.0,0.119225,472,Construction Trades Workers,North Carolina,Construction and Extraction Occupations,None
23242,37,North Carolina,2,NC,0,Cross-industry,cross-industry,1235,15-1211,Computer Systems Analysts,...,2.925628e+09,True,False,100.0,0.315819,151,Computer and Information Analyst,North Carolina,Computer and Mathematical Occupations,None
23246,37,North Carolina,2,NC,0,Cross-industry,cross-industry,1235,15-1232,Computer User Support Specialists,...,1.405850e+09,True,False,100.0,0.143706,151,Computer and Information Analyst,North Carolina,Computer and Mathematical Occupations,None
23184,37,North Carolina,2,NC,0,Cross-industry,cross-industry,1235,11-3021,Computer and Information Systems Managers,...,3.816709e+09,True,False,100.0,0.318032,113,Operations Specialties Managers,North Carolina,Management Occupations,None
23221,37,North Carolina,2,NC,0,Cross-industry,cross-industry,1235,13-1111,Management Analysts,...,2.347138e+09,True,False,100.0,0.236727,131,Business Operations Specialists,North Carolina,Business and Financial Operations Occupations,None
23584,37,North Carolina,2,NC,0,Cross-industry,cross-industry,1235,35-9021,Dishwashers,...,3.278799e+08,True,False,100.0,0.028307,359,Other Food Preparation and Serving Related Wor...,North Carolina,Food Preparation and Serving Related Occupations,None
23178,37,North Carolina,2,NC,0,Cross-industry,cross-industry,1235,11-2021,Marketing Managers,...,1.642784e+09,True,False,100.0,0.136854,112,"Advertising, Marketing, Promotions, Public Rel...",North Carolina,Management Occupations,None
23250,37,North Carolina,2,NC,0,Cross-industry,cross-industry,1235,15-1244,Network and Computer Systems Administrators,...,1.023716e+09,True,False,100.0,0.097152,151,Computer and Information Analyst,North Carolina,Computer and Mathematical Occupations,None
23247,37,North Carolina,2,NC,0,Cross-industry,cross-industry,1235,15-1241,Computer Network Architects,...,1.050852e+09,True,False,100.0,0.100653,151,Computer and Information Analyst,North Carolina,Computer and Mathematical Occupations,None

In [114]:
grouped_economic_value = state_risk_jobs.groupby(['minor_group', 'minor_group_name'])['economic_value'].sum().sort_values(ascending=False)
print("\nTotal economic value by minor group:")
print(grouped_economic_value)

Total economic value by minor group:
minor_group  minor_group_name
151          Computer and Information Analyst                                            1.733915e+10
113          Operations Specialties Managers                                             3.816709e+09
131          Business Operations Specialists                                             2.347138e+09
119          Other Management Occupations                                                2.031149e+09
172          Engineers                                                                   1.662520e+09
112          Advertising, Marketing, Promotions, Public Relations, and Sales Managers    1.642784e+09
472          Construction Trades Workers                                                 1.294388e+09
152          Mathematical Science Occupations                                            1.061051e+09
519          Other Production Occupations                                                4.956623e+08
191          Life Scientists                                                             3.878440e+08
359          Other Food Preparation and Serving Related Workers                          3.278799e+08
194          Life, Physical, and Social Science Technicians                              2.722256e+08
132          Financial Specialists                                                       2.651184e+08
473          Helpers, Construction Trades                                                1.290569e+08
192          Physical Scientists                                                         1.006774e+08
516          Textile, Apparel, and Furnishings Workers                                   9.191130e+07
499          Other Installation, Maintenance, and Repair Occupations                     6.551120e+07
171          Architects, Surveyors, and Cartographers                                    5.821200e+07
373          Grounds Maintenance Workers                                                 5.053000e+07
252          Preschool, Elementary, Middle, Secondary, and Special Education Teachers    4.739760e+07
173          Drafters, Engineering Technicians, and Mapping Technicians                  3.052060e+07
452          Agricultural Workers                                                        2.597900e+07
492          Electrical and Electronic Equipment Mechanics, Installers, and Repairers    2.550060e+07
439          Other Office and Administrative Support Workers                             1.605430e+07
514          Metal Workers and Plastic Workers                                           1.459480e+07
271          Art and Design Workers                                                      7.242000e+06
475          Extraction Workers                                                          4.357000e+06
537          Material Moving Workers                                                     2.373000e+06
Name: economic_value, dtype: float64

In [115]:
grouped_economic_value = state_risk_jobs.groupby(['major_group', 'major_group_name'])['economic_value'].sum().sort_values(ascending=False)
print("\nTotal economic value by major group:")
print(grouped_economic_value)

Total economic value by major group:
major_group  major_group_name
15           Computer and Mathematical Occupations                         1.840020e+10
11           Management Occupations                                        7.490642e+09
13           Business and Financial Operations Occupations                 2.612256e+09
17           Architecture and Engineering Occupations                      1.751253e+09
47           Construction and Extraction Occupations                       1.427802e+09
19           Life, Physical, and Social Science Occupations                7.607470e+08
51           Production Occupations                                        6.021684e+08
35           Food Preparation and Serving Related Occupations              3.278799e+08
49           Installation, Maintenance, and Repair Occupations             9.101180e+07
37           Building and Grounds Cleaning and Maintenance Occupations     5.053000e+07
25           Educational Instruction and Library Occupations               4.739760e+07
45           Farming, Fishing, and Forestry Occupations                    2.597900e+07
43           Office and Administrative Support Occupations                 1.605430e+07
27           Arts, Design, Entertainment, Sports, and Media Occupations    7.242000e+06
53           Transportation and Material Moving Occupations                2.373000e+06
Name: economic_value, dtype: float64